root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
tab_width = 4
insert_final_newline = true

[*.sh]
end_of_line = lf


[*.yml]
indent_style = spaces
tab_width = 2

[package.json]
indent_style = spaces
tab_width = 2

[bower.json]
indent_style = spaces
tab_width = 2
