<div class="panel panel-form">
	<div class="panel-body no-padding">

		<div class="alert alert-warning synth-busybox" ng-show="state==STATE_LOADING" style="margin-bottom: 0">
			<span class="synth-icon-loader32"></span>
			<span>Getting preferences...</span>
		</div>
		<div class="alert alert-warning synth-busybox" ng-show="state==STATE_SAVING" style="margin-bottom: 0">
			<span class="synth-icon-loader32"></span>
			<span>Saving preferences...</span>
		</div>
		<div class="alert alert-info" ng-show="state==STATE_SAVED" style="margin-bottom: 0">
			<span class="glyphicon glyphicon-ok">&nbsp;</span>
			<span>Preferences saved</span>
		</div>

		<div class="panel panel-danger" ng-show="state==STATE_ERROR" style="margin-bottom: 0;">
			<div class="panel-heading">{{errorMessage}}</div>
		</div>

		<div class="panel panel-info" ng-show="state==STATE_LOADED && !preferences" style="margin-bottom: 0;">
			<div class="panel-heading">You do not have any preferences available</div>
		</div>


		<div class="list-group list-menu no-margin-bottom"  ng-repeat="(moduleId,modulePrefs) in preferences" ng-if="!!preferences" module-collapse>
			<a href="javascript:;"  role="button" class="list-group-item list-group-item-module ng-cloak" module-name="moduleId">
			</a>
			<div id="moduleId{{$index}}" class="collapse in ng-cloak">
				<a href="javascript:;" class="list-group-item" ng-repeat="(toolId,preference) in modulePrefs">
					<div class="pull-right"><input bs-switch ng-model="preferences[moduleId][toolId]" switch-change="toggledTool(moduleId, toolId, preference, $event)" type="checkbox"/></div>
					<h4 class="list-group-item-heading" tool-name="toolId" module-id="moduleId">&nbsp;</h4>
				</a>
			</div>
		</div>


	</div>
	<div class="panel-footer" style="text-align: right;">
		<a href="#/settings" class="btn" ng-class="state==STATE_ERROR ? 'btn-primary' : 'btn-default'">Cancel</a>
		<button class="btn btn-primary" ng-click="save()" ng-disabled="state==STATE_ERROR||!preferences">Save</button>
	</div>
</div>
