<div class="module-search">
	<div class="input-group">
		<input id="searchText" class="form-control input-lg" ng-model="searchText" placeholder="Filter Modules" >
		<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-filter"></span></span>
	</div>
</div>
<div class="list-group list-menu" ng-repeat="module in modules | filter:{name:searchText}" ng-class="{'no-margin-bottom': !$last}" module-collapse>
	<a href="javascript:;"  role="button" class="list-group-item list-group-item-module">
		{{module.name}}
	</a>
	<div id="module{{$index}}" class="collapse in">
		<a href="#/tool/{{tool.name}}/{{module.id}}" class="list-group-item" ng-repeat="tool in module.tools">
			<span class="glyphicon glyphicon-cloud toolSyncStatus" tool="tool"></span>
			{{tool.label}}
			<span class="glyphicon glyphicon-chevron-right pull-right"></span>
		</a>
	</div>
</div>
